@model MaerskLineWebsite.Models.Ship
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Ship</h2>

@using (Html.BeginForm("Update", "Ships", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContainerNo)
        @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.ShipId)

    <button type="submit" class="btn btn-primary">SAVE</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}